<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-08">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>You have been successfully logged in as Admin</h1>
        <form action="/admin/add/bus" method="GET">
            <input type="submit" value="ADD BUS">
        </form>
        <form action="/admin/busData/download" method="GET">
            <input type="submit" value="DOWNLOAD BUS DATA">
        </form>
        <form action="/user/logout" method="GET">
            <input type="submit" value="LOGOUT">
        </form>
    </body>
</html>