<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-08">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>You have been successfully logged in as Migrant</h1>
        <form action="/migrant/bookTickets" method="POST">
            <input type="text" name="source" value="Source"><br>
            <input type="text" name="destination" value="Destination"><br>
            <input type="date" name="travelDate" value="Travel Date"><br>
            <input type="submit" value="Submit">
        </form>
        
        <form action="/user/logout" method="GET">
            <input type="submit" value="LOGOUT">
        </form>
        <%if(locals.message){%>
            <p><%=message.info%></p>
        <%}%>
    </body>
</html>