<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-08">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>You have been successfully logged in as Migrant</h1>
        <form action="/user/logout" method="GET">
            <input type="submit" value="LOGOUT">
        </form>
    </body>
</html>