<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-08">
        <title>Home</title>
    </head>
    <body>
        <h2><b>Home Page</b></h2>
        <br><br>
        <div class="menu">
            <a href="/user/login">Login</a>
            <a href="/user/signup">SignUp</a> 
        </div>
    </body>
</html>